configuration {
  modes: "drun,run,window,ssh";

  font: "ZCOOL Kuaile 18";
  show-icons: true;

  terminal: "kitty";

  kb-mode-next: "Shift+Right,Control+Tab,Tab";
  kb-element-next: "";

  kb-accept-entry: "Control+m,Return,KP_Enter";
  kb-remove-to-eol: "";

  kb-row-up: "Up,Control+p,Control+k";
  kb-row-down: "Down,Control+n,Control+j";
}

@import "theme"
