* {
    font-family:
        FontAwesome,
        ZCOOL KuaiLe,
        sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #f5c2e7;
}

#workspaces,
#window,
#tray,
#taskbar,
#clock,
#cpu,
#memory,
#temperature,
#pulseaudio,
#power-profiles-daemon,
#keyboard-state,
#mpris {
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid #f5c2e7;
    background-color: #313244;
}

#workspaces button {
    padding: 0 6px;
    border-radius: 100%;
    color: #f5c2e7;
}
#workspaces button + button {
    margin-left: 2px;
}
#workspaces button.active {
    color: #f9e2af;
}

#window {
    margin: 0 24px;
    padding: 0 10px;
}

#power-profiles-daemon.performance {
    color: #f38ba8;
}
#power-profiles-daemon.balanced {
    color: #f5c2e7;
}
#power-profiles-daemon.power-saver {
    color: #89b4fa;
}
